.text{
    text-align:center;
    color:black;
    font-size: 25px;
}

h4 {
    font-size: 20px;
    margin: 0 0 10px;
}
.button{
    font-size: 20px;
    width:100px; 
    width: 30%;
    position:relative;
    top:50%; 
    left:35%;
    background-color: skyblue;
    color:white
}